<div id="background-wrap">
    <div class="x1">
      <div class="cloud"></div>
    </div>

    <div class="x2">
      <div class="cloud"></div>
    </div>

    <div class="x3">
      <div class="cloud"></div>
    </div>

    <div class="x4">
      <div class="cloud"></div>
    </div>

    <div class="x5">
      <div class="cloud"></div>
    </div>
</div>

  <header>
    <h1 class="animated">{{title}}</h1>
  </header>
  <section class="app-section">
    <app-keyboard></app-keyboard>
  </section>
  <footer>
    <div class="container">
        <span>Use <- ^ -> on your keyboard !</span>
        <span><a href="#">Starinov Oleg</a></span>
    </div>
  </footer>

